
.Pbtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  /* background-color: #2a32b2;  */
  color:black;
  border: none;
  /* border-radius: 50px;  */
  font-size: 18px;
  background-color:white;
  font-weight: 300;
  /* cursor: pointer; */
  /* transition: background-color 0.3s ease; */
  transition: color 0.3s ease;
   font-family:'Plus Jakarta Sans' ;
}

.Pbtn:hover {
  color: #2680c2; /* Hover blue */
 
  font-weight: 400;

}
/* Icon styling */
.Picon {
  font-size: 20px;
}